body{
	width: 80%;
	margin:auto;
	margin-top: 50px;
}
p {
	font-family: sans-serif;
	font-size: 125%;
	
}
.para1{
	
	margin-right: 100px;

}
.para2{
	text-align: right;
	margin-right: 150px;
	font-size: 120%;

}
.table{
	background-color: white;
	margin: auto;
	float: left;
	width: 100%;
	margin-top: 50px;
}
.row{
	float: left;
	background-color: white;
	width: 25%;
}
.footer{
	text-align: center;
	font-size: 10px;
	margin-top: 50px;
	display: inline-block;
	margin-left: 175px;
}
.foot{
	width: 40%;
	margin: auto;

}




